@import "../varsRobot";


body{
  height: 100vh;
  min-height: 100vh;
}

#eliminar{
  margin-top: 2%;
}

#divMando{
  padding-top: 2%;
  padding-bottom: 4%;
}

#divRobot{
  padding-top: 2%;
  padding-bottom: 4%;
}

#divDatos{
  padding-top: 2%;
  padding-bottom: 4%;
}

#mando{
  margin: auto;
  height: 85%;
  width: 85%;

}

#robot{
  margin: auto;
  height: 85%;
  width: 85%;

}

#controles{
  font-size: 90%;
}

div {
  transition: width 2s;
}

#botonMotores{
  padding-top: 3%;
  padding-left: 1%;
}

.selector{
  width: 68%;
}

.column-left{
  float: left;
  width: 33%;
}
.column-right{
  float: right;
  width: 33%;

}
.column-center{
  display: inline-block;
  width: 33%;
}

#pasosForm{
  width: 68%;
}

#botonFormRobot{
  margin-top: 4%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#panelControl{
  min-height: 66vh;
}

#eliminar{
  margin-top: 4%;
}

#añadir{
  margin-top: 4%;
}

#enviar{
  margin-top: 4%;
}

#guardar{
  margin-top: 4%;
}

.table-fixed{
  width: 100%;
  background-color: #f1f1f1;
  overflow-x:auto;
  tbody{
    height:65vh;
    overflow-y:auto;
    width: 100%;
  }
  tbody,tr,td,th{
    display:block;
  }
  tbody{
    td{
      float:left;
    }
  }
  thead {
    tr{
      th{
        float:left;
        background-color: $colorAzul;
      }
    }
  }
}

#selecRobot{
  width: 100%;
}

#selecMotor{
  width: 100%;
}

#pasosForm{
  width: 100%;
}

#botonesControl{
  margin-top: -1%;
  margin-bottom: 4%;
}
