@import "../varsRobot";


body{
  height: 100vh;
  min-height: 100vh;
}

#divMando{
  padding-top: 10%;
}

#mandoimg{
  padding: 10%;
  margin: auto;
}

#controles{

}

.formularioMotor{
  margin: 2%;

}

div {
  transition: width 2s;
}