
// Colores
$colorPruebas: yellow;
$colorBlanco: white;
$colorNegro: black;



$colorGrisClaro: #7E8AA2;
$colorGrisOscuro: #263248;

$colorAmarillo: #FFC800;

$colorAzul: #337AB7;

$colorCasiBlanco: #D9D9D9;
$colorCasiNegro: #101010;

// Fuentes
@font-face{
  font-family: "Zekton";
  src: url("../fonts/zekton/zekton rg.ttf");
}


