@import "varsRobot";

/* CSS para home landingPage */
#inicio{
  background-image:url("../img/circuit1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}
#titulo{
  font-size:20vmin;
  text-align: center;
  font-weight: bolder;
  color: $colorBlanco;
  letter-spacing: 0.3em;

}
.retroshadow {
  color: $colorAzul;
  letter-spacing: .1em;
  text-shadow:0 0 10px $colorAzul, 0 0 10px $colorAzul;
}

#descripcion{
  color:  $colorBlanco;
  font-size: 10vmin;
  font-weight: lighter;
  font-variant: normal;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center!important;
  letter-spacing: 0.3em;
  text-shadow:0 0 10px $colorAzul, 0 0 10px $colorBlanco;
}
#botonLanding{
  margin-top: 10%;
}
.azul{
  color: $colorAzul;
}
#seccionbrazo{
  padding-top: 50px;
  background-color: $colorBlanco;
  min-height: 400px;
  padding-bottom: 50px;
}

#contenedorContacto{
  background-color: $colorGrisClaro;
}

#contacto{
  margin-top: 20px;
}

#servicios, #contenedorContacto{
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.bordeAzul{
  border-bottom: 2px solid $colorAzul;
}
//Solucion parcial links landing page
.anchor::before {
  content: "";
  display: block;
  height: 50px;
  /* fixed header height*/
  margin: -26px 0 0;
  /* negative fixed header height */
}