@import "varsRobot";

body {
  padding-top: 50px;
  background-color: $colorCasiBlanco;
}
html, body{
  min-height: 100%;
  font-family: 'XoloniumRegular';
}
.zekton {
  font-family: "Zekton";
}
.contenido{
  margin-top: 30px;
}


.panel-default > .panel-heading {
  background-color: #333333;
  border-color: $colorAzul;
  color: $colorBlanco;
}
.panel-default{
  border: 3px solid $colorAzul;
  background-color: $colorCasiBlanco;
}

0

.contenidoLogin {
  margin-top: 4%;
  min-height: 72vh;
}

