@import "varsRobot";

body {
  padding-top: 50px;
  background-color: $colorCasiBlanco;
}
html, body{
  min-height: 100%;
  font-family: "xolonium";
}
.zekton {
  font-family: "Zekton";
}
.contenido{
  margin-top: 30px;
}

.container{
  width: inherit;
}
.panel-default > .panel-heading {
  background-color: #333333;
  border-color: $colorAzul;
  color: $colorBlanco;
}
.panel-default{
  border: 3px solid $colorAzul;
  background-color: $colorCasiBlanco;
}

/* Botones submit */
.btn-rbt {
  color: $colorBlanco;
  background-color: #333333;
  border-color: $colorAzul;
}
.btn-rbt:hover,
.btn-rbt:focus,
.btn-rbt:active,
.btn-rbt.active,
.open .dropdown-toggle.btn-rbt {
  color: $colorBlanco;
  background-color: $colorAzul;
  border-color: $colorAzul;
}
.btn-rbt:active,
.btn-rbt.active,
.open .dropdown-toggle.btn-rbt {
  background-image: none;
}
.btn-rbt.disabled,
.btn-rbt[disabled],
fieldset[disabled] .btn-rbt,
.btn-rbt.disabled:hover,
.btn-rbt[disabled]:hover,
fieldset[disabled] .btn-rbt:hover,
.btn-rbt.disabled:focus,
.btn-rbt[disabled]:focus,
fieldset[disabled] .btn-rbt:focus,
.btn-rbt.disabled:active,
.btn-rbt[disabled]:active,
fieldset[disabled] .btn-rbt:active,
.btn-rbt.disabled.active,
.btn-rbt[disabled].active,
fieldset[disabled] .btn-rbt.active {
  background-color: $colorAzul;
  border-color: #333333;
}
.btn-rbt .badge {
  color: $colorAzul;
  background-color: $colorBlanco;
}

.contenidoLogin {
  margin-top: 4%;
  min-height: 72vh;
}

