/* FOOTER */
#myFooter {
  background-color: #3c3d41;
  color: white;
  bottom: 0;
}

#myFooter .footer-copyright {
  background-color: #333333;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #D9D9D9;
}
