@font-face {
  font-family: "Zekton";
  src: url("../fonts/zekton/zekton rg.ttf");
}

body {
  height: 100vh;
  min-height: 100vh;
}

#divMando {
  padding-top: 10%;
}

#mandoimg {
  padding: 10%;
  margin: auto;
}

div {
  -webkit-transition: width 2s;
  transition: width 2s;
}
