@font-face {
  font-family: "Zekton";
  src: url("../fonts/zekton/zekton rg.ttf");
}

body {
  min-height: 100%;
}

#panelControl {
  height: 100vh;
}

div {
  -webkit-transition: width 2s;
  transition: width 2s;
}
